body {
    background: #ffffff; /* #c1bdba */
    font-family: 'Titillium Web', sans-serif;
}

.banner {
    margin: 1%;
    text-align: center;
    font-size: 2em;
    border-style: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
}
.products {
      border: 1px solid #555;
      background-color: #555;
      border-radius: 5px;
      padding: 16px;
      margin-bottom: 20px;
  }
.table {
    margin: 0px auto;
    float: none;
}
@media only screen and (max-width: 480px) {
.table {
    width:100%;
	max-width:480px;
}
}
.row {
    margin: 0px auto;
    float: none;
}
.centered{
    float: none;
    margin: 0 auto;
}
.button {
    background: #000000;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}
 .button:visited {
      text-decoration: none;
      color: white;
}
.button:hover {
    background: #7fa9ff;
    text-decoration: none;
    color: white;
}
.button:active {
    text-decoration: none;
    color: white;
}
.btn-danger {
      font-size: 12px;
      padding: 3px;
}
.btn-danger:hover {
      text-decoration: none;
  }
  .btn-success {
      font-size: 12px;
      padding: 3px;
}
.btn-success:hover {
      text-decoration: none;
  }
a {
      text-decoration: none;
}
a:hover {
      text-decoration: none;
  }
h3 {
      margin-top: 0px;
}
 